@charset "utf-8";

*{box-sizing:border-box; color:#f5f5f5;}
a,a:link,a:visited{color:#f5f5f5;}
body{background:#000; font-family: 'Walter Turncoat', 'Gamja Flower'; overflow-y:scroll; overflow-x:hidden;}

/*------------------------------------
z-index값 정리

fixed button = 100
background front image =
background back image = 

--------------------------------------*/

#btn{position:fixed; width:150px; height:40px; top:0px; left:0px; z-index: 100;}

/* ------------------top_btn----------------- */
#mouse_wheel{position:absolute; width:40px; height:110px; left:50%; margin-left:-20px; bottom:10px; overflow:hidden; opacity:0;}
#mouse_wheel>img{width:100%;}
/* ------------------wheel_btn----------------- */

#header_wrap{position:absolute; width:100%; height:100vh;}
#header_wrap>article{position:absolute; width:520px; height:144px; left:50%; top:40%; transform:translate(-50%, -50%);}
	div.hello_e{width:250px; left:5px; height:133px; position:absolute; opacity:0;}
		h1{position:absolute; color:white; font-size:100px;}
		#hello>span{color:black;}
		#e{left:70px; transition:all 0.7s steps(5,start) 0.7s;
			-webkit-transform-origin: 50% 58%;
			-ms-transform-origin: 50% 58%;
			-moz-transform-origin: 50% 58%;
			-o-transform-origin: 50% 58%;
			transform-origin: 50% 58%;}
		#e.on{transform: rotate(-180deg); color:white;}
	div.ween{width:250px; right:0; height:133px; position:absolute; opacity:0;}
		h1#ween{color:white;}
	div.bloods{position:absolute; width:426px; height:294px; top:102px; left:13px; z-index:-1; overflow:hidden;}
	div.bloods>div{float:left;}
		.drop01{margin-top:-187px}
		.drop02{margin-left:50px; margin-top:-51px}
		.drop03{margin-left:95px; margin-top:-203px}
		.drop04{margin-left:33px; margin-top:-294px;}
		.drop05{margin-left:12px; margin-top:-50px;}
		.drop06{margin-left:18px; margin-top:-197px;}
		.drop07{margin-left:15px; margin-top:-165px;}
/* ------------------header_css----------------- */

#lightning{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#fff; opacity:0; z-index:-9; text-indent:-9999;}
/* ------------------lightning_effect----------------- */

.top_section{position:relative; background:#21385f; width:100%; height:300vh; opacity:0; z-index:-10;}
.top_section img{width:100%;}
/* ------------------contents_background_css- 위치값수정필요 ---------------- */
	.counter{position:absolute; width:350px; height:200px; top:220vh; left:50%; margin-left:-175px; z-index:90;}
		#date{font-size:80px; text-align:center; margin-top:20px;}
		#timer{font-size:40px; text-align:center;}
	.witch{position:absolute; width:10%; bottom:25%; left:-10%;}
	.witch>img{width:100%;}
/* ------------------bg_front css ---------------- */
	#bg_images{position:relative; width:120%; height:100vh; left:-10%; top:200vh;}
	#bg_images>div{display:block; position:absolute; width:100%; bottom:-8vw;}
	#bg_images>div:nth-of-type(1){width:120vw; height:40.8vw; background:url(../images/bg_front.png) no-repeat 0 bottom; background-size:100%;}
	#bg_images>div:nth-of-type(2){width:120vw; height:55.2vw; background:url(../images/bg_back.png) no-repeat 0 bottom; background-size:100%; z-index:-1;}
		
		.hand{position:absolute; width:4%; bottom:35%; left:29%; z-index:100; transform-origin:50% 100%; transform:rotate(10deg);}
		.hand02{position:absolute; width:2%; bottom:50%; left:12%; z-index:100; transform-origin:50% 100%; transform:rotate(-5deg);}
		.hand.active{animation: shake 3s infinite;}
		.hand02.active{animation: shake02 6s infinite;}
		@keyframes shake{
			0% {transform:rotate(10deg);}		
			50% {transform:rotate(30deg);}		
			100% {transform:rotate(10deg);}
		}
		@keyframes shake02{
			0% {transform:rotate(-5deg);}		
			50% {transform:rotate(-20deg);}		
			100% {transform:rotate(-5deg);}
		}

		.pumpkin_fixed{position:absolute; width:4%; right:15%; top:62.8%; z-index:1;}
		.pumpkin_fixed>img{width:100%;}
		.pumpkin_fixed>div{position:absolute; width:60%; height:60%; top:60%; left:50%; transform:translate(-50%, -50%); border-radius:30%; background:#b21212; opacity:0; z-index:-1;}

/* ------------------bg_back css ---------------- */
		div.bet01{position:absolute; width:6%; top:0; right:32%;}
		div.bet02{position:absolute; width:4%; top:7%; right:30%;}
		div.bet03{position:absolute; width:2%; top:12%; right:35%;}
		
		div.ghost{position:absolute; width:3%; top:33%; right:3%; animation: ghost 10s infinite;}
		@keyframes ghost {
			0% {width:3%; top:33%; right:32%;}
			49% {transform:rotateY(0deg);}
			50% {width:6%; top:25%; right:45%; transform:rotateY(180deg);}			
			99% {transform:rotateY(180deg);}
			100% {width:3%; top:33%; right:32%;transform:rotateY(0deg);}
		}


/* --------------------------------------------------------------------
-----------------------------mid section css---------------------------
--------------------------------------------------------------------- */

.mid_section{position:relative; width:100%; height:100vh; background:#000;}

/* --------------------------------------------------------------------
-----------------------------bot section css---------------------------
--------------------------------------------------------------------- */

.bot_section{position:relative; width:100%; background:#0f131d;}

	.bg_cave01{position:relative; width:100vw; height:34vw; background:url(../images/bg_cave01.png) no-repeat 0 bottom; background-size:100%;}
	
		#top_btn{position:absolute; width:4%; z-index:100; bottom:50%; right:11%;}
		#top_btn>a{}
		#top_btn>a>img{width:100%;}
		#top_btn>div{position:absolute; width:39%; height:10%; border-radius:50%; bottom:5%; left:31%; z-index:-1; background:#f21212; opacity:0; animation:topBtn 2s linear infinite;}
			@keyframes topBtn{	
				0%{box-shadow: 0 0 20px 3px #f21212;}
				50%{box-shadow: 0 0 50px 5px #f21212;}
				100%{box-shadow: 0 0 20px 3px #f21212;}
			}
		#gnb{}
			#nav{position:absolute; width:600px; height:100px; left:50%; top:10vh; transform:translate(-50%, 0%); text-align:center;}
			#nav:after{content:""; display:block; clear:both;}
			#nav>li{float:left; width:300px;}
			#nav>li>a{display:block; line-height:60px; width:100%; text-transform:uppercase; font-size:26px; transition:0.5s;}
			#nav>li.on>a{color:#b21212; text-shadow:0 0 10px rgba(178,18,18,0.9); letter-spacing:1px; font-weight:bold;}
			
			.navigator{position:absolute; width:200px; left:50%; margin-left:-250px; top:calc(10vh + 50px); height:43px; border-radius:5px; transition:0.5s; background:linear-gradient(0deg, #b21212, #ff0000, #550000, #b21212, #ff0000, #b21212); background-size: 100% 200%; animation:navi 3s linear infinite;}
			.navigator>img{display:block; position:absolute; width:100%; height:100%; bottom:0;}
				@keyframes navi{
					0%{background-position:0% 200%;}
					100%{background-position:0% 0%;}
				}
	.bat_eyes{position:absolute; width:100vw; height:34vw;}
	.bat_eyes>div{position:absolute; background-color:#f21212; width:0.65%; height:1.5%; opacity:0; animation:eyes 2s linear infinite;}
	.bat_eyes>div:nth-of-type(1){left:32.5%; bottom:46%; animation-delay:0.3s}
	.bat_eyes>div:nth-of-type(2){left:36.3%; bottom:46%; animation-delay:0.8s}
	.bat_eyes>div:nth-of-type(3){left:38.4%; bottom:44%;}
		@keyframes eyes{
			0%{opacity:0;}
			50%{opacity:1;}
			100%{opacity:0;}
		}
	div.halloween_is{display:none; width:60%; height:450px; margin:-18vh auto 0 auto;}		
	div.halloween_is:after{content:""; display:block; clear:both;}	
	div.halloween_is>img{display:block; float:left; width:47%; height:300px; border:1px dotted #fff;}	
	div.halloween_is>p{float:left; width:47%; margin-left:6%; font-size:20px; line-height:35px;}	
	
	div.line_up{_display:none; width:60%; height:450px; margin:-18vh auto 0 auto;}
	div.line_up:after{content:""; display:block; clear:both;}
	div.line_up>div:nth-of-type(1){position:relative; float:left; width:60%; height:300px; border:1px dotted #fff; _overflow:hidden;}
	div.line_up>div:nth-of-type(1)>div{}
	div.line_up>div:nth-of-type(1)>.btnL{}
	div.line_up>div:nth-of-type(1)>.btnR{}
	div.line_up>div:nth-of-type(1)>ul{position:absolute; width:1500px; height:100%; left:0;}
	div.line_up>div:nth-of-type(1)>ul>li{float:left; width:200px; height:100%; transform-origin:50% 100%; transform:scale(0.7); transition:0.5s; cursor:pointer; border:1px dotted #00f;}
	div.line_up>div:nth-of-type(1)>ul>li.on{transform:scale(1);}
	div.line_up>div:nth-of-type(1)>ul>li+li{margin-left:10px;}
	div.line_up>div:nth-of-type(2){float:left; width:34%; margin-left:6%; border:1px dotted #0f0;}
	div.line_up>div:nth-of-type(2)>div{margin-top:100px; transform:translate(0,-50%);}
	div.line_up>div:nth-of-type(2)>div>p{text-align:center;}
	div.line_up>div:nth-of-type(2)>div>p:nth-of-type(1){font-size:36px;}
	div.line_up>div:nth-of-type(2)>div>p:nth-of-type(2){font-size}

/* --------------------------------------------------------------------
-----------------------------미디어 쿼리 css----------------------------
--------------------------------------------------------------------- */
@media (min-width:1200px){

}
@media (min-width:992px) and (max-width:1199px){

}
@media (min-width:768px) and (max-width:991px){
	
}
@media (min-width:576px) and (max-width:767px){
	
}
@media (max-width:575px){
	
}
